.mvm-entity{
	display: flex;
	position: relative;
	background-color: red;
	flex-direction: column;
}

.mvm-entity-attributes{
	background-color: blue;
}

.mvm-entity-childs{
	background-color: orange;
	display: flex;
	overflow: hidden;
}
