.mvm-entity{
	display: flex;
	position: relative;
	background-color: red;
	flex-direction: column;
}

.mvm-entity-attributes{
	background-color: blue;
}

.mvm-entity-attributes.essential{
	background-color: rgb(12, 83, 145);
	min-height: 2rem;
}

.mvm-entity-childs{
	background-color: orange;
	display: flex;
	overflow: hidden;
}
