mvm-spawner{
	display: flex;
	height:100%;
	width:100%;
	background-color: rgb(132, 33, 159);
}

mvm-spawner .title{
	font-size: 2rem;
}

mvm-spawner-bot, mvm-spawner-squad{
	flex: 1;
	display: flex;
}
mvm-spawner-squad{
	flex-direction: column;
}
mvm-spawners{
	display: flex;
	flex: 1;
	background-color: crimson;
}
