.mvm-timeline{
	background-color: var(--background-secondary);
	overflow: auto;
	min-width: 10rem;
	max-width: 20rem;
}

.mvm-wave-schedule>.entity-remove-button{
	display: none;
}

.mvm-timeline .wave .title{
	font-size: 1.5rem;
	text-align: center;
	background-color: var(--background-tertiary);
}

.mvm-timeline .wave-spawn{
	display: flex;
	flex-wrap: nowrap;
	padding: 0.2rem;
	cursor: pointer;
}

.mvm-timeline .wave-spawn .count{
	display: flex;
	align-items: center;
}

.mvm-timeline .squad{
	display: flex;
	flex-wrap: nowrap;
	padding: 0.3rem;
	background-color: var(--theme-squad-bg-color);
	cursor: pointer;
	border-radius: 0.3rem;
}

.mvm-timeline .random-choice{
	display: flex;
	flex-wrap: nowrap;
	padding: 0.3rem;
	background-color:violet;
	cursor: pointer;
}

.mvm-timeline img{
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}
