.mvm-timeline{
	background-color: rgb(102, 146, 57);
	overflow: auto;
	min-width: 10rem;
	max-width: 20rem;
}

.mvm-wave-schedule>.entity-remove-button{
	display: none;
}

.mvm-timeline .wavespawn div{
	display: flex;
	flex-wrap: wrap;
}

.mvm-timeline img{
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}
